<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esi-Shoot</title>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script defer src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="menu-container">
        <div class="button-container">
            <button id="playButton" class = "menuOptions" >Jouer</button>
            <button id="leaderboardButton" class = "menuOptions" >Classement</button>
            <button id="quitButton" class = "menuOptions" >Quitter</button>

            <button id="mode1Button" class = "gameOptions">Chill Mode</button>
            <button id="mode2Button"  class = "gameOptions" >Reflex Mode</button>
            <button id="returnButton"  class = "gameOptions" >Retour</button>
        </div>
    </div>
</body>
</html>
