<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esi-Shoot</title>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="menu-container">
        <h1>Esi-Shoot</h1>
        <div class="button-container">
            <button id="playButton">Jouer</button>
            <button id="settingsButton">Paramètres</button>
            <button id="leaderboardButton">Classement</button>
            <button id="quitButton">Quitter</button>
        </div>
    </div>
</body>
</html>
