body {
    margin: 0;
    padding: 0;
    background-image: url("/static/ecran_chargement.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    box-shadow: 0 0 1px black;
}

h1 {
    margin-bottom: 20px;
}

.button-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.button-container button {
    position: absolute;
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #b92987;
}

/* Positionner les boutons autour du cercle */
#playButton       { top: 50%; left: 50%; transform: translate(-50%, -50%); }
#leaderboardButton { top: 15%; left: 50%; transform: translateX(-50%); }
#quitButton        { bottom: 15%; left: 50%; transform: translateX(-50%); }
#mode1Button       { top: 50%; left: 50%; transform: translate(-50%, -50%);}
#mode2Button       { top: 15%; left: 50%; transform: translateX(-50%);}
#returnButton      { bottom: 15%; left: 50%; transform: translateX(-50%);}
#returnClassement  { bottom: 15%; left: 50%; transform: translateX(-50%);}

/* Positionner les boutons autour du cercle */
#pauseButton     { top: 50%; left: 50%; transform: translate(-50%, -50%); }
#reprendreButton { top: 15%; left: 50%; transform: translateX(-50%); }
#returnButton      { bottom: 15%; left: 50%; transform: translateX(-50%);}


/* Cacher les options de jeu au départ */
.gameOptions {
    display: none;
}
.playOptions {
    display: none;
}

